.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    background-color: #fff;
}

.product-image {
    width: 100%;
    height: 62%;
}

.product-name {
    padding-top: 10px;
    width: 90%;
    height: 18%;
    margin: auto;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Price {
    height: 20%;
}
.product-price {
    font-size: 0.9em;
    color: #4000f0;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: end;
    font-weight: 700;
}

.product-purchases {
    font-size: 0.5rem;
    color: #666;
    display: flex;
    align-items: end;
    margin: 8px 0;
    padding: 0;
}
