.Time-container h4
{
    display: inline-block;
            color: white;
            background-color: black;
            font-family: Arial, sans-serif;
            font-weight: bold;
            border-radius: 3px;


}
  