.container {
    display: flex;
    max-width: 100%;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #ddd;
}

.content {
    flex: 1;
    padding: 10px;
}

.content-div {
    display: none;
}

.content-div.visible {
    display: block;
}

.content-div.hidden {
    display: none;
}
@media (min-width: 1536px) {
    .container {
        /* max-width: 100%; */
    }
}
